page-feed {
    .feed_user {
        font-size: 12px;
        text-align: center;
        padding: 10px;
        position: relative;
        top: 17px;
    }
    .feed_sub_date {
        color: green;
    }
}