page-intro {
    .slide-intro {
        display: unset;
    }
    .slide-intro a {
        position: absolute;
        left: 250px;
        font-size: 15px;
    }
    .slide-intro img {
        width: 240px;
        padding: 20px;
        position: relative;
        top: 15px;
    }
    .slide-intro p {
        font-size: 15px;
        text-align: justify;
        font-weight: 100;
    }
}